VITE_SUPABASE_URL=https://uroqgjwdwvdyqsuvjgjq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVyb3Fnandkd3ZkeXFzdXZqZ2pxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1MDIwMjAsImV4cCI6MjA4ODA3ODAyMH0.0YVF3h-BAlnosEf30nsc3hoJBFbJuz87B2-v0K5gMXM
VITE_FIREBASE_API_KEY=AIzaSyAp9rY_5RX5tWkCeWQW1Z71bbYs1m1TTg4
VITE_FIREBASE_AUTH_DOMAIN=personal-financial-tracer.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=personal-financial-tracer
VITE_FIREBASE_STORAGE_BUCKET=personal-financial-tracer.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=421131668207
VITE_FIREBASE_APP_ID=1:421131668207:web:7db9a47529d571854e291a
